/*I don't want a border around the whole page*/
*{
    margin: 0;
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color:rgb(49, 49, 49)
}

#navbar{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgba(184, 255, 255, .5);
    height: 10vh;
}

#nav-list{
    display: flex;
}

#nav-list > li{
    list-style-type: none;
}
#nav-list > li > a {
    color:red;
    padding: 0% 10px;
}

a:hover{
    color:blueviolet
}

#welcome-section{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100vh
    
}

#projects_heading{
    padding-left: 5vh;
    padding-bottom: 2vh;
}

#projects{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 30px;
    background-color:rgb(228, 253, 196)
}

:root{
    --one_tile: 80px;
}

.project_tile > figure > img {
    background-color: rgb(199, 199, 199);
    box-shadow: .3em .3em .3em .1em rgb(136, 135, 135);
    padding: 20px 10px;
}

figcaption{
    display: flex;
    justify-items: center;
    align-items: center;
}

#contact_info{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer > h2 { 
    text-align: center;
}

#footer_slogan{
    text-align: center;
    padding: 5px;
}


#profile_links > a{ 
    padding: 6vh;
    font-size: 1.3rem;
}

@media (max-width:75em) {
 section {
     font-size: 100%
 }
}

@media (max-width: 100.75 em) {
    section {
        font-size: 58px;
    }
}

