*{
    margin: 0;
    padding: 0;
}
header{
    color: rgb(165, 26, 26);
    background-color: silver;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    text-align: center;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Nanum Gothic', sans-serif;
    background-color: rgb(70, 70, 70);
}

figure {
    margin:10px;
    background-color: rgb(165, 26, 26);
    padding: 2rem 2rem 1rem 2rem;
    border-radius: 5px;
}

figure img{
    border-radius: 5px;
}

figcaption{
    text-align: center;
    font-size: xx-large;
    color: silver;
}

header {
    padding: 2rem 0 0 1.3rem;
}

header h1{
    font-size: 2.3rem;
}

header p{
    padding: 1rem 1vw;
}