*{
    margin: 0;
    box-sizing: border-box;
    --main-color-one: rgb(111, 114, 250);
    font-family: 'Roboto', sans-serif;
}

/*header stuff*/
header{
    padding: 1rem 1rem;
}

.pokemon-logo{
    display: flex;
    width: 100vw;
    background-color: red;
}

/*nav stuff*/
nav ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #cccccc;
    width: 100%;
}

nav ul .nav_button a{
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: black;
}

nav ul .active a{
    color: white;
    background-color: black;
}

/*Main stuff goes here */

main h1{
    padding: 1rem;
}

.buttonsBox{
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.main-button{
    margin: 0rem 1rem;
    border-radius: 2rem;
    padding: .4rem;
    font-size: 1rem;
    background-color: rgb(77, 76, 76);
    color: white;
}

.pokeGrid p{
    margin: 2rem;
    line-height: 3rem;
}
.pokeGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.scene{
    width: 200px; 
    height: 260px; 
    perspective: 600px;
    margin: .5rem;
}

.card{
    width: 100%; 
    height: 100%;
    cursor: pointer;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card.is-flipped{
    transform: rotateY(180deg);
}

.card_face { 
    width: 100%;
    height: 100%;
    background-color: beige;
    position: absolute;
    backface-visibility: hidden;
    border-radius: .5rem;
    border: 5px solid rgb(206, 206, 146);
}

.front{
    color: white;
    background-color: #2a75bb;
}

.pokeId{
    color: black;
    border: 1px solid black;
    border-radius: 1rem;
    display: inline;
    padding: .3rem;
    position: relative;
    top: .6rem;
    left: .2rem;
    background-color: rgba(100, 100, 100, .5);
    font-weight: 400;
}

.pokemonName{
    background-color: rgba(100, 100, 100, .5);
    font-weight: 500;
    font-size: 1.1rem;
    padding: .5rem;
}

.back{
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
}


figure img{
    width: 180px;
}

.card figure figcaption::first-letter{
    text-transform: capitalize;
}

.card figure figcaption{
    text-align: center;
    position: relative;
    top: 1rem;
}

.typesLabel{
    border: 2px solid black;
    padding: .5rem;
    border-radius: 1rem;
    margin: .4rem .5rem .1rem .5rem;
    background-color: #CCC;
    color: black;
}

.pokeTypeList{
    border-radius: 5px;
}

.pokeType{
    list-style: none;
    margin: .3rem;
    padding: .2rem 0 .2rem 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: #DDD;
    color: black;
}
.pokeType::first-letter{
    text-transform: capitalize;
}

.abilitiesLabel{
    border: 2px solid black;
    padding: .5rem;
    border-radius: 1rem;
    margin: 1rem .5rem .1rem .5rem;
    background-color: rgb(109, 107, 107);
}

.abilityList{
    margin: 0 0 .2rem 0; 
}

.abilityItem{
    list-style: none;
    padding: .2rem 0 .2rem 1rem;
    border: 1px solid black;
    background-color: grey;
    border-radius: 1rem;
    margin: .3rem;
    padding: .2rem 0 .2rem 1rem;
}
.abilityItem::first-letter{
    text-transform: capitalize;
}

#filtersName{
    display: flex;
    justify-content: center;
    color: red;
    padding: 1rem;
    font-size: 2rem;
}

.filters-box{
    background-color: #444;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.filter-button{
    color: white;
    border-radius: 2rem;
    padding: .4rem;
    margin: .5rem;
    font-size: 1.2rem;
}

.normal-button{
    background-color: #ACAD99;
}
.fighting-button{
    background-color: #C45D4C;
}
.flying-button{
    background-color: #90AAD7;
}
.poison-button{
    background-color: #B369AF;
}
.ground-button{
    background-color: #CEB250;
}
.rock-button{
    background-color: #BAA85E;
}
.bug-button{
    background-color: #ACC23E;
}
.ghost-button{
    background-color: #816DB6;
}
.steel-button{
    background-color: #9FA9AF;
}
.fire-button{
    background-color: #E87A3D;
}
.water-button{
    background-color: #639CE4;
}

.grass-button{
    background-color: #82C95B;
}

.electric-button{
    background-color: #E7C536;
}

.psychic-button{
    background-color: #E96C95;
}

.ice-button{
    background-color: #81CFD7;
}

.dragon-button{
    background-color: #8572C8;
}

.dark-button{
    background-color: #79726B;
}

.fairy-button{
    background-color: #E8B0EB;
}

/*Footer stuff here */
footer{
    background-color: red;
    color: white;
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}