*{
    margin: 0;
    box-sizing: border-box;
    --main-color-one: rgb(111, 114, 250);
}
 

/*header stuff*/
header{
    font-size: 2rem;
    padding: 1.5rem 1rem;
}

/*nav stuff*/
nav ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: var(--main-color-one);
    width: 100%;
}

nav ul .nav_button a{
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: black;
}

nav ul .active a{
    color: white;
    background-color: black;
}

/*main stuff*/
h1{
    font-size: 1.5rem;
}

main h1{
    padding: 1rem;
}

.buttons_div{
    padding: 1rem;
    background-color: rgb(255, 100, 100);
}

.buttons_div button{
    font-size: 1rem;
    padding: .5rem;
    margin: .5rem;
}

.membersDiv{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

figure{
    width: 160px;
    display: flex;
    flex-direction: column;    
    margin: 1rem;
}
figcaption{
    text-align: center;
}

/*modal stuff*/
.modal-content{
    padding: 1rem;
}
.modal-message ol{
    padding: 1rem 2rem;
}

/*footer stuff here*/
footer{
    background-color: var(--main-color-one);
    color: black;
    text-align: center;
    padding: 2rem;
} 