*{
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.senators{
    display: flex;
    flex-wrap: wrap;   
}

figure{
    width: 160px;
    display: flex;
    flex-direction: column;    
    margin: 1rem;
}
figcaption{
    text-align: center;
}

/*I got about 10 min into the video for Nov 11th*/